
* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* font-size: 1.5vw; */

}

.link{
    text-decoration: none;
    color: #F1BE07;
    text-align: center;
}
.link:hover{
    color: #1F6D69;
}
.card-title{
    color: #F1BE07;;
}
.card-text{
    color: #1F6D69;
}
.pointer{
    cursor: pointer;
}

.flat-row{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    
}
.flat-imagebox .flat-item {
    float: left;
    padding: 0 15px;
}
 #links {
    color: #0f0f0f;
    text-decoration: underline;
 } 
 
.loginImg{
    border-radius: 50px;
    width: 4vw;
}
.traducao{
    border-radius: 50px;
    width: 2vw;
}
.nav-link{
    color:#F1BE07 !important;
}
.active 
{
    color: #C49B08 !important;
}
.btn-success{
    background-color: #1F6D69 !important;
    color: #f0b707 !important;
}

@media(max-width: 540px){
    .img{
        width: 50% !important;        
    }
    .titulo{
        margin-top: 20px;
    }
}